@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* border: 1px solid red; */
}

body {
	font-family: Roboto;
}

header {
	background-color: #1f2937;
	padding: 30px 120px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

ul {
	font-size: 1.1em;
	margin-right: 222px;
	margin-left: auto;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
}

a {
	color: whitesmoke;
	text-decoration: none;
}

h1 {
	color: whitesmoke;
	font-size: 2em;
	padding: 0;
	font-family: Roboto;
}

.intro {
	display: flex;
	background-color: #1f2937;
	padding: 30px 120px;
	/* align-items: center; */
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.intro h1 {
	color: whitesmoke;
	font-size: 6.1em;
	font-family: Roboto;
	align-self: center;
}

.cont {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-top: 100px;
	align-items: center;
}

.intro img {
	margin-left: auto;
	width: 40%;
	height: 20%;
}

p {
	color: rgb(207, 204, 204);
}

a.button1 {
	display: inline-block;
	padding: 0.3em 1.2em;
	margin: 2em 0.5em;
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #ffffff;
	background-color: #4eb5f1;
	text-align: center;
	transition: all 0.2s;
	width: 200px;
}
a.button1:hover {
	background-color: #4095c6;
}

#welcome {
	text-align: center;
	margin: 20px;
	color: #32435a;
}

.articles {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.article {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 20px;
	border: 1px solid #1f2937;
}

.minicont h2 {
	margin: 15px;
	text-align: center;
}

.minicont p {
	margin: 15px;
	color: #aaa0a0;
	text-align: center;
}

.images {
	width: 298px;
	height: 198.344px;
}

.quote {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #e5e7eb;
}

.quote p {
	font-family: Roboto;
	font-size: 30px;
	padding: 60px;
	color: #1f2937;
}

.author {
	align-self: flex-end;
}
